[Desktop Entry]
Type=Application
Name=Evolution Alarm Notify
Name[ru]=Уведомление сигналами в Evolution
Comment=Calendar event notifications
Comment[ru]=Уведомления о календарных событиях
Icon=appointment-soon
Exec=/usr/libexec/evolution/3.2/evolution-alarm-notify
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;X-MEEGO-NB;
X-Meego-Priority=Low
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evolution
X-GNOME-Bugzilla-Component=calendar
X-GNOME-Bugzilla-Version=3.2.x
